body{
	text-align: center;
	font-family: Courier, monospace;
	margin-left: 20%;
	margin-right: 20%;
}
#errors{
	color: red;
}
#reg_form, #login_form, #email_form, #navigation{
	display: none;
}
.text{
	width: 250px;
	--clr: black;
	--outline: 0px solid black;
	text-align: center;
	border: var(--outline);
	color: var(--clr);
	border-bottom: 0.5px solid black;
	transition: outline-offset 200ms ease;
}
.button{
	width: 150px;
	height: 20px;
	--outline: 0.1px solid grey;
	--clr: black;
	font-size: 70%;
	font-family: Courier, monospace;
	border-radius: 1.5px;
	color: var(--clr);
	border: var(--outline);
	transition: outline-offset 200ms ease;
}
.text:hover, .text:focus{
	outline: var(--outline);
	outline-width: 0.3px;
	outline-offset: 5px;
	border-radius: 1px;
}
.button:hover, .button:focus{
	outline: var(--outline);
	outline-width: 1px;
	outline-offset: 2px;
	border-radius: 3px;
}